/* RESET */
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Segoe UI, Arial;
background:#111;
color:white;
}


/* NAVBAR */

.navbar{

position:fixed;
top:0;
width:100%;

background:rgba(0,0,0,0.6);

backdrop-filter:blur(10px);

transition:0.3s;

z-index:1000;

}


.navbar.scrolled{

background:rgba(0,0,0,0.95);

box-shadow:0 4px 20px rgba(0,0,0,0.5);

}


.nav-container{

max-width:1100px;

margin:auto;

padding:20px;

display:flex;

justify-content:space-between;

align-items:center;

}


.logo{

font-size:20px;

font-weight:bold;

}


.nav-menu{

list-style:none;

display:flex;

gap:30px;

}


.nav-link{

text-decoration:none;

color:white;

font-size:15px;

position:relative;

transition:0.3s;

}


/* underline animation */

.nav-link::after{

content:"";

position:absolute;

left:0;

bottom:-6px;

width:0%;

height:2px;

background:#00bcd4;

transition:0.3s;

}


.nav-link:hover::after{

width:100%;

}


.nav-link:hover{

color:#00bcd4;

}


/* active link */

.nav-link.active::after{

width:100%;

}



/* SECTIONS */

.section{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-size:40px;

}


.hero{

background:black;

}
